<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4222122441-9nmc680m4b605kj73vqo0dem3aa7k28c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4222122441-9nmc680m4b605kj73vqo0dem3aa7k28c</string>
	<key>API_KEY</key>
	<string>AIzaSyAeoZ1eDw5Ob0ofhbL2Tuxz9UMRJtwQ2BE</string>
	<key>GCM_SENDER_ID</key>
	<string>4222122441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>teamswift.MyComics</string>
	<key>PROJECT_ID</key>
	<string>mycomics-b50ed</string>
	<key>STORAGE_BUCKET</key>
	<string>mycomics-b50ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4222122441:ios:0800a2292aee3836965018</string>
</dict>
</plist>